@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;502&family=Open+Sans:wght@549&family=Poppins:wght@400;500;700;900&family=Roboto&display=swap');

/* ==============================NAVBAR CSS===================================*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    background-color: #F7F7F7;


    width: auto;
    height: auto;
    
}


#navbar-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    margin-right: 100px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #333333;
}

#navbar-title:hover{
    font-weight: 900;
    color: #0575E6;
}


.navbar-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    width: auto;
    height: auto;
}

.navbar-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-right: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    text-transform: capitalize;
}

.navbar-item:hover{
    font-weight: 500;
}

#logout-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-right: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #0575E6;
    line-height: 24px;
    /* identical to box height */
    text-transform: capitalize;

}

/*BURGER BUTTON*/
#navbar-button:hover{
    color: #0575E6;
}

.menu-bar-container{
    background-color: #F7F7F7;
    position: absolute;
    left: 55%;
    border-radius: 5px;
    justify-content: space-evenly;
    margin-top: 0px;
}



/* ===============================MAIN BODY CSS=========================================*/
.main-box{
    /*CENTER IN THE PAGE*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

    
    width: auto;
    height: auto;
    margin-top: 5px;
    margin-bottom: 40px;

    
}

#search-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: #F7F7F7;
    width: auto;
    height: auto;
    margin-top: 25px;
    margin-bottom: 35px;
    border-radius: 7px;
    overflow: hidden;

    order: 0;
    flex-grow: 0;
}

.search-icon{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    margin-right: 20px;
}

#search-text{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    height: auto;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    /* identical to box height */
    outline: none;
    border: none;
    text-transform: capitalize;
    background: #F6F6F6;
}

.cards-container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    gap: 50px;
    margin: 0 auto;
}

.card-box{
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;
    width: 334px;
    height: 473px;
    border-radius: 8px;
}

.box-header{
    display: flex;
    align-items: center;
    background: #0575E6;
    height: 98px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding-left: 12px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #FFFFFF;
}
.box-content{
    display: flex;
    flex-direction: column;
}
.body-title{
    width: 318px;
    padding-left: 12px;
    border-bottom: 2px solid rgba(5, 117, 230, 0.2);
    padding-bottom: 8px;
    margin-bottom: -4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.body-text{
    width: 298px;
    height: 161px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 8px;
    margin-bottom: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}

.card-info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 302px;
    height: 106px;
}

.card-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin: 0 auto;*/
    /*padding-left: 8px;
    padding-right: 8px;*/
    align-items: center;
    margin-bottom: 8px;
    gap: 20px;

    width: 302px;
    height: 30px;

    background: rgba(5, 117, 230, 0.2);
    border-radius: 4px;
    
}
.card-info-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding-left: 8px;
}
.card-info-title-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    
    line-height: 10px;

    text-align: center;
    text-transform: uppercase;

    color: #000000;
}

.card-info-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    padding-right: 8px;

    color: #000000;
}


/*  ============================FOOTER CSS======================*/

#footer{
    position: inherit;
    bottom: 0;
    width: 100%;
    background-color: #F7F7F7;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-items: center;
}

#footer-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

@media (max-width: 1400px){
    .cards-container{
        grid-template-columns: 300px 300px 300px;
    }
}
@media (max-width: 1080px){
    .cards-container{
        grid-template-columns: 300px 300px;
    }
}
@media (max-width: 670px){
    .cards-container{
        grid-template-columns: 300px;
    }
}
@media (max-width: 400px){
    .card-box{
        transform: scale(0.9);
    }
}